/* General styles */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  
  .resume {
    margin: 20px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    max-width: 1100px;
    display: flex;
  }
  
  .main-block-container {
    height: 100%;
    width: 100%;
  }
  
  .intro-information-container {
    background-color: #494e5f;
    color: #fff;
    padding: 40px;
  }
  
  .main-information-container {
    padding: 40px;
  }
  
  .avatar {
    width: 150px;
    border-radius: 100%;
    border: 3px solid #ffe7d4;
    animation: identifier 5s;
  }
  
  @keyframes identifier {
    from {
      width: 0;
    }
    
		to {
      width: 150px;
    }
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .intro-block-container {
    margin: 15px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  svg {
    width: 20px;
  }
  
  .main-block-title {
    width: 100%;
    padding: 10px;
    background-color: #ffe7d4;
    color: #494e5f;
    margin-bottom: 20px;
  }
  
  .skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skill-icon {
    font-size: 30px;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .progress {
    height: 50px;
    width: 0;
    background-color: #4caf50;
    transition: width 2s ease-in-out;
  }

  /* Projects style */

  .project-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
  }

  .project {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
  }

  .project h2 {
      margin: 0;
  }

  /* Modal styles */

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    max-width: 90%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close-button:hover,
  .close-button:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  /* Iframe */
  
  iframe {
    width: 100%;
    height: 600px;
    border: none;
  }

  /* Time line */

  .time-line-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .time-line-horizontal {
    width: 20%;
    height: 5px;
    background-color: #ffffff;
    margin-left: -1rem;
  }

  .time-line-vertical {
    width: 5px;
    height: 15px;
    background-color: #ffffff;
  }

  /* Media Queries */
  @media (width <= 1100px) {
    .resume {
      flex-direction: column;
      max-width: 100%;
    }
  
    .intro-information-container, .main-information-container {
      padding: 20px;
    }
  
    .skill-icon {
      font-size: 24px;
    }
  
    .progress {
      height: 40px;
    }
  }
  
  @media (width <= 768px) {
    .intro-information-container, .main-information-container {
      padding: 15px;
    }
  
    .skill-icon {
      font-size: 20px;
    }
  
    .progress {
      height: 35px;
    }
  }
  
  @media(width <= 480px) {
    .intro-information-container, .main-information-container {
      padding: 10px;
    }
  
    .name h1 {
      font-size: 24px;
    }
  
    .name p {
      font-size: 14px;
    }
  
    .skill-icon {
      font-size: 18px;
    }
  
    .progress {
      height: 30px;
    }
  
    .main-block-title h3 {
      font-size: 18px;
    }
  }